@page "/books/create"
@attribute [Authorize] 
@inject Books.Data.ApplicationDbContext DB
@using Books.Components
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Book" OnValidSubmit="AddBook" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Book.Title" class="form-control" /> 
                <ValidationMessage For="() => Book.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="author" class="form-label">Author:</label> 
                <InputText id="author" @bind-Value="Book.Author" class="form-control" /> 
                <ValidationMessage For="() => Book.Author" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Book.Description" class="form-control" /> 
                <ValidationMessage For="() => Book.Description" class="text-danger" /> 
            </div>
            
            <div class="mb-3">
                <label for="relasedate" class="form-label">RelaseDate:</label> 
                <InputDate id="relasedate" @bind-Value="Book.RelaseDate" class="form-control" /> 
                <ValidationMessage For="() => Book.RelaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="initialRating" class="form-label">Initial Rating:</label>
                <InputNumber id="initialRating" @bind-Value="Book.Rate" class="form-control" />
                <ValidationMessage For="() => initialRating" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Url:</label>
                <InputText id="url" @bind-Value="Book.ImageUrl" class="form-control" />
                <ValidationMessage For="() => Book.ImageUrl" class="text-danger" />
            </div>
           

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/books">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Book Book { get; set; } = new();
    private double initialRating;

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddBook()
    {
        if(Book.Ratings == null) {
            Book.Ratings = new List<double>();
        }
        if (initialRating >= 1 && initialRating <= 5) 
        {
            Book.Ratings.Add(initialRating);
            Book.Rate = initialRating;
        }

        DB.Book.Add(Book);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/books");
    }
}
